.profile {
	margin: 0 auto;
	padding: 30px 0 0;
	width: 250px;
	border: 1px solid #ccc;
  border-radius: 3px;
  text-align: center;
  background: #fff;
}
.profile .description img {
	border-radius: 64px;
}
.profile .description .name {
	margin: 20px 0 5px;
	font-weight: bold;
	font-size: 20px;
}
.profile .description .tag,
.profile .description .location {
	color: #aaa;
	margin: 0;
	font-size: 14px;
	margin: 2px 0;
}
.profile .stats {
	margin: 30px 0 0 0;
	padding: 0;
	background: #eee;
}
.profile .stats li {
	margin: 0;
	padding: 10px 0;
	display: inline-block;
	width: 33%;
	list-style: none;
	border-left: 1px solid #ccc;
}
.profile .stats li:first-child {
	border-left: none;
}
.profile .stats li span {
	display: block;
}
.profile .stats li span.label {
	margin: 4px 0;
	font-size: 12px;
	color: #777;
}
.profile .stats li span.quantity {
	margin: 4px 0;
	font-size: 14px;
	font-weight: bold;
}
